    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    /* ******************************menu container *****************************************/
    
    .menu_container {
        background-color: skyblue;
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    .menu_container>* {
        height: 80%;
        width: 20%;
        border-right: 2px solid;
    }
    
    .formatting-container {
        display: flex;
        justify-content: space-around;
    }
    
    .subgroup {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    
    .subgroup>* {
        width: 100%;
    }
    
    .BUI_container {
        display: flex;
        justify-content: center;
    }
    
    .BUI_container>* {
        width: 30%;
    }
    
    .color_container {
        width: 45%;
    }
    
    .color_container>* {
        display: flex;
        justify-content: space-between;
    }
    
    .button {
        cursor: pointer;
    }
    
    .alignment-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .alignment-container>* {
        width: 20%;
    }
    
    .opensavedown {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .menubutton {
        font-size: 2rem;
        color: #0f5b0f;
        cursor: pointer;
    }
    /* **********************************formula container */
    
    .formula_container {
        background-color: aliceblue;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Arial;
    }
    
    .address-box {
        width: 10%;
    }
    
    .seperator {
        width: 2%;
    }
    
    .formula-box {
        width: 80%;
    }
    /*************************** grid ****************************/
    
    .top-left-block {
        height: 30px;
        width: 25px;
        background-color: #928b04;
        position: absolute;
        z-index: 10000;
    }
    
    .top-row {
        min-height: 30px;
        /* border: 1px solid black; */
        background-color: #eee190;
        display: flex;
        position: absolute;
        top: 0px;
        left: 25px;
        z-index: 5;
    }
    
    .col {
        min-width: 60px;
        border: 1px solid gray;
        max-width: 60px;
        min-height: 30px;
        cursor: cell;
    }
    
    .top-row .col {
        border: 1px solid black;
    }
    
    .row {
        display: flex;
        min-height: 30px;
    }
    
    .left-col {
        width: 25px;
        /* border: 1px solid red; */
        position: absolute;
        z-index: 5;
        top: 30px;
    }
    
    .left-col-box {
        background-color: #eee190;
        height: 30px;
        text-align: center;
        border: 1px solid;
    }
    
    .grid_container {
        position: relative;
        height: calc( 100vh - ( 80px + 30px + 50px));
        /* display: flex; */
        overflow: auto;
    }
    
    .grid {
        position: absolute;
        top: 30px;
        left: 25px;
    }
    /* **************************************sheet******************************** */
    
    .sheets {
        background-color: rgb(6, 90, 90);
        height: 50px;
        display: flex;
    }
    
    .add_sheet_container {
        height: 100%;
        min-width: 35px;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .add_sheet_container.icon {
        font-size: 1.35rem;
        color: lightgreen;
        cursor: pointer;
        /* border: 2px solid blanchedalmond;  */
    }
    
    .sheets-list {
        display: flex;
        height: 100%;
        overflow-x: auto;
    }
    
    .sheet {
        min-width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .active-sheet {
        background-color: wheat;
    }
    
    .active-btn {
        background-color: rgb(237 162 89 / 83%);
    }
    
    .sheets-list::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    
    .sheets-list {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }